.create {
  background: lightgray;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 1300px;
  height: 910px;
  color: green;
  font-family: emirates;
}
.create li {
  list-style: none;
  overflow-y: scroll;
}
.create a {
  color: green;
  list-style: none;
  text-decoration: none;
}
.listing {
  position: relative;
  /* margin-top: 50px; */
  overflow-y: scroll !important;
}
.coc {
  overflow-y: visible !important;
  z-index: 1;
  color: green;
  height: 140vh;
  width: 1200px;
  font-family: emirates;
  background: lightgray;
  /* overflow-x: hidden !important; */
  overflow-y: scroll;
  text-decoration: none;
}
.coc li {
  text-decoration: none;
  list-style: none;
  margin-top: 50px;
  text-align: center;
}
.coc a {
  color: green;
  list-style: none;
  text-decoration: none;
}
@font-face {
  font-family: emirates;
  src: url(../../multimedia/Emirates-Bold.ttf);
}
.showEvent {
  background: lightgray;
  background-color: lightgray;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  color: green;
  font-family: emirates;
}
@media only screen and (width < 500px) {
  .conbox {
    width: 300px !important;
    /* background-color: red !important; */
  }
}
@media only screen and (width < 500px) {
  .table {
    width: 35% !important;
    display: block;
    overflow-x: auto;
    margin-left: 0px !important;
  }

  /*
  blog
   */

  /* .table thead {
    display: none;
  } */

  /* .table tr {
    display: block;
    margin-bottom: 10px;
  } */
  /* 
  .table td {
    display: block;
    text-align: right;
    padding-left: 50%;
    position: relative;
  } */

  /* .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  } */
}
@media only screen and (width < 1000px) {
  .table {
    width: 70%;
    font-size: 14px;
  }

  .table th,
  .table td {
    padding: 5px 10px;
    white-space: normal;
    text-align: left;
  }

  .table td {
    word-wrap: break-word;
    overflow: visible;
  }
  .coco {
    margin-left: -27px !important;
  }
}
#pdf-content {
  padding: 20px;
  margin: auto;
  width: 100%;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
@media only screen and (width < 500px) {
  .new-table {
    width: 100% !important;
    display: block;
    overflow-x: auto;
    margin-left: 0px !important;
  }
}
@media only screen and (width < 1000px) {
  .new-table {
    width: 150% !important;
    font-size: 14px;
    display: block;
    overflow-x: auto !important;
    margin-left: 0px !important;
  }

  .new-table th,
  .new-table td {
    padding: 5px 10px;
    white-space: normal;
    text-align: left;
  }

  .new-table td {
    word-wrap: break-word;
    overflow: visible;
  }
  .coco {
    margin-left: -27px !important;
  }
}
.hero {
  background: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.2)
    ),
    url("./asset//music-bg.jpg");
  background-size: cover;
}

.reg {
  border: 2px red solid;
}
.hero {
  background: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.2)
    ),
    url("../../multimedia/video-for-event-marketing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: fill;
}
.backg {
  background-color: rgb(33, 37, 41);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.97),
    rgba(236, 234, 234, 0.97)
  );
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: fill;
}
.reg {
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  color: rgb(33, 37, 41);
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.97),
    rgba(236, 234, 234, 0.97)
  );
  border: 2px rgba(236, 234, 234, 0.97) solid !important;
  box-shadow: rgb(184, 184, 184) 6px 6px 23px 6px !important;
}
@media only screen and (width < 1000px) {
  .backg {
    background-color: rgb(33, 37, 41);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.97),
      rgba(236, 234, 234, 0.97)
    );
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
  }
  .hero {
    background: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.2)
      ),
      url("../src/multimedia/video-for-event-marketing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
  }
}
@media only screen and (max-width: 600px) {
}
@media only screen and (width < 500px) {
  .brandname {
    color: white !important;
  }
  .countlogo {
    margin: 10px !important;
    height: 40px !important;
  }
  .welcome {
    max-width: 420px !important;
  }
  .reg {
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    color: rgb(33, 37, 41);
    background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.97),
      rgba(236, 234, 234, 0.97)
    );
    border: 2px rgba(236, 234, 234, 0.97) solid !important;
    box-shadow: rgb(184, 184, 184) 6px 6px 23px 6px !important;
  }
  .conbox {
    width: 300px !important;
  }
}
.backg {
  background-color: rgb(33, 37, 41);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.97),
    rgba(236, 234, 234, 0.97)
  );
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: fill;
}
.reg {
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  color: rgb(33, 37, 41);
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.97),
    rgba(236, 234, 234, 0.97)
  );
  border: 2px rgba(236, 234, 234, 0.97) solid !important;
  box-shadow: rgb(184, 184, 184) 6px 6px 23px 6px !important;
}
@media only screen and (width < 500px) {
  .conbox {
    width: 300px !important;
    /* background-color: red !important; */
  }
}
.admin {
  position: relative;
  width: 200px;
  height: 700px;
  text-align: center;
  font-family: emirates;
  margin-top: 100px;
}
.loginstyle {
  display: flex;
  color: green;
  list-style: none;
  text-decoration: none;
  margin-left: 10px;
  max-width: 300px;
  text-align: left;
}
.loginstyle a {
  list-style: none;
  text-decoration: none;
}

.simplified {
  width: 50%;
  height: 300px;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 1px 1px lightgray;
}
.simplified img {
  position: relative;
  width: 100%;
  height: 100%;
}
.enroll {
  color: green;
  font-family: emirates;
  max-width: 500px;
  line-height: 30px;
}
.heroe {
  position: relative;
  display: block;
  background-color: lightgray;
  height: 140vh;
}
.myblog {
  /* border: 1px solid red; */
  height: 600px;
}
.bloggrid {
  display: grid;
  padding: 5rem;
  gap: 2rem;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 420px);
  font-family: emirates;
  height: 400px;
}
.box0 {
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 2px;
  box-shadow: 5px 5px 5px 5px lightgray;
  overflow: hidden;
}
.box0 img {
  position: relative;
  width: 400px;
  height: 50%;
  position: relative;
  background-size: cover;
  object-fit: fill;
}
.divide {
  height: 105px;
}
.box0 h5 {
  color: green;
  margin-left: 10px;
  margin-top: 30px;
  font-weight: bold;
}
.box0 p {
  margin-left: 10px;
  max-width: 300px;
}
.tag {
  position: absolute;
  display: flex;
  padding: 10px;
  height: 30px;
  border: 1px solid green;
  background-color: green;
  border-radius: 3px;
  color: white;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
  margin-top: -15px;
}
.author {
  margin-top: -5px;
}
.simplify {
  height: 300px;
  width: 50%;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 1px 1px lightgray;
}
.simplify img {
  position: relative;
  width: 100%;
  height: 100%;
}
.heroes {
  height: 130vh;
}
.nav-det {
  display: none !important;
}
@media only screen and (max-width: 600px) {
}
@media only screen and (width < 500px) {
  .admin {
    display: none !important;
  }
  .cov {
    display: flex !important;
    flex-direction: column;
    flex-flow: column-reverse;
  }
  .enroll {
    color: green;
    font-family: emirates;
    max-width: 300px !important;
    line-height: 30px;
    margin-left: 30px !important;
  }
  .enroll p {
    max-width: 350px;
  }
  .simplified {
    width: 100px !important;
    height: 300px !important;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 1px 1px lightgray;
  }
  .simplified img {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .heroe {
    position: relative;
    display: block;
    background-color: lightgray;
    height: 310vh;
  }
  .myblog {
    /* border: 1px solid red; */
    height: 2000px !important;
    background-color: lightgray !important;
  }
  .bloggrid {
    display: grid;
    padding: 3rem !important;
    gap: 2rem;
    position: relative;
    grid-template-columns: repeat(1, 300px) !important;
    grid-template-rows: repeat(3, 420px) !important;
    font-family: emirates;
    height: 400px;
    margin-left: 20px;
  }
  .box0 {
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 2px;
    box-shadow: 5px 5px 5px 5px lightgray;
    overflow: hidden;
    border-radius: 10px !important;
  }
  .box0 img {
    position: relative;
    width: 400px;
    height: 50%;
    position: relative;
    background-size: cover;
    object-fit: fill;
  }
  .divide {
    height: 115px;
  }
  .box0 h5 {
    color: green;
    margin-left: 10px;
    margin-top: 20px;
    font-weight: bold;
  }
  .box0 p {
    margin-left: 10px;
    min-width: 300px !important;
    /* max-width: 750px !important; */
  }
  .tag {
    position: absolute;
    display: flex;
    padding: 10px;
    height: 30px;
    border: 1px solid green;
    background-color: green;
    border-radius: 3px;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-top: -15px;
  }
  .author {
    margin-top: -5px;
  }
  .nav-det {
    display: block !important;
  }
}
@media only screen and (width < 1000px) {
  .admin {
    /* background-color: red; */
    position: relative;
    width: 150px;
    height: 700px;
    text-align: center;
    font-family: emirates;
    margin-top: 50px;
    display: block;
  }
  .loginstyle {
    /* display: flex; */
    color: green;
    list-style: none;
    text-decoration: none;
    max-width: 50px;
    text-align: left;
    display: block;
    /* left: 20px !important; */
  }
  .loginstyle a {
    list-style: none;
    text-decoration: none;
    max-width: 20px !important;
    display: block;
  }
  .icons {
    display: block !important;
    text-align: center;
  }
  .menu-actions {
    display: block !important;
    margin-top: 20px;
    text-align: center !important;
  }
  .cov {
    display: flexbox !important;
    align-content: space-between !important;
  }
  .simplified {
    width: 500px !important;
    height: 300px;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 1px 1px lightgray;
    margin-left: -70px !important;
  }
  .simplified img {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .enroll {
    color: green;
    font-family: emirates;
    max-width: 400px !important;
    line-height: 30px;
    margin-right: -40px !important;
  }

  .myblog {
    /* border: 1px solid red; */
    height: 600px;
  }
  .bloggrid {
    display: grid;
    padding: 2rem;
    gap: 1.5rem;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 420px);
    font-family: emirates;
    height: 400px;
  }
  .box0 {
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 2px;
    box-shadow: 5px 5px 5px 5px lightgray;
    overflow: hidden;
  }
  .box0 img {
    position: relative;
    width: 400px;
    height: 50%;
    position: relative;
    background-size: cover;
    object-fit: fill;
  }
  .divide {
    height: 115px;
  }
  .box0 h5 {
    color: green;
    margin-left: 10px;
    margin-top: 20px;
    font-weight: bold;
  }
  .box0 p {
    margin-left: 10px;
    max-width: 250px !important;
  }
  .tag {
    position: absolute;
    display: flex;
    padding: 10px;
    height: 30px;
    border: 1px solid green;
    background-color: green;
    border-radius: 3px;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-top: -15px;
  }
  .author {
    margin-top: -5px;
  }
  .coord {
    font-size: 16px;
  }
  .nav-det {
    display: block !important;
  }
}
@media only screen and (width < 500px) {
  .conbox {
    width: 300px !important;
    /* background-color: red !important; */
  }
}
.cover {
  position: absolute;
  z-index: -1;
  font-family: emirates;
}
.wave {
  height: 800px;
  position: relative;
  right: 100px;
}
.dashhead {
  font-family: emirates;
}
.txt {
  position: absolute;
  margin-left: 100px;
  margin-top: 120px;
  max-width: 450px;
}
.txt p {
  font-size: 22px;
  max-width: 340px;
}
.firstImg {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  position: absolute;
  object-fit: fill;
  margin-left: 850px;
  margin-top: 100px;
  border-style: outset;
  border-color: limegreen;
}

.era {
  background-size: auto;
  background-repeat: no-repeat;
  object-fit: fill;
  font-family: emirates;
}

.grid {
  display: grid;
  padding: 10rem;
  gap: 5rem;
  position: absolute;
  top: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 500px);
  position: relative;
  top: 400px;
  font-family: emirates;
}
.grid0 {
  border: 1px solid lightgrey;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px lightgray;
}
.grid0 img {
  position: relative;
  width: 300px;
  height: 300px;
  object-fit: fill;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.grid0 h2 {
  position: relative;
  top: 10px;
  left: 10px;
  font-family: emirates;
  color: limegreen;
}
.grid p {
  position: relative;
  top: 10px;
  left: 10px;
  line-height: 25px;
  font-family: emirates;
  max-width: 250px !important;
}
.grid h5 {
  position: relative;
  left: 10px;
  font-family: emirates;
  color: orangered;
}

.bod {
  overflow-x: hidden;
  background-color: brown;
  background: linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.2)
    ),
    url("");
}

.new {
  width: 100%;
  background-color: blue;
  height: 30vh;
}

.debit {
  position: relative;
  top: 350px;
  display: inline-flex;
  text-align: justify;
}
.debit img {
  position: relative;
  border: 1px solid limegreen;
  border-radius: 50%;
  width: 450px;
  height: 400px;
  object-fit: fill;
  left: 100px;
}
.debit h1 {
  position: relative;
  margin-left: 200px;
  top: 50px;
  font-family: emirates;
  color: limegreen;
}
.diva {
  min-width: 675px !important;
}
.debit p {
  position: relative;
  top: 200px;
  right: 470px;
  min-width: 400px;
  font-family: emirates;
  line-height: 30px;
}
.counter {
  position: relative;
  top: 450px;
  display: inline-flex;
  text-align: justify;
}
.counter img {
  position: relative;
  border: 1px solid limegreen;
  border-radius: 50%;
  width: 450px;
  height: 400px;
  object-fit: fill;
  left: 100px;
}
.counter h1 {
  position: relative;
  margin-left: 200px;
  top: 50px;
  font-family: emirates;
  color: limegreen;
}
.counter p {
  position: relative;
  top: 200px;
  right: 470px;
  min-width: 400px;
  font-family: emirates;
  line-height: 30px;
}
.pension {
  position: relative;
  top: 550px;
  display: inline-flex;
  text-align: justify;
}
.pension img {
  position: relative;
  border: 1px solid limegreen;
  border-radius: 50%;
  width: 450px;
  height: 400px;
  object-fit: fill;
  left: 100px;
}
.pension h1 {
  position: relative;
  margin-left: 200px;
  top: 50px;
  font-family: emirates;
  color: limegreen;
}
.pension p {
  position: relative;
  top: 200px;
  right: 470px;
  min-width: 400px;
  font-family: emirates;
  line-height: 30px;
}
.secure {
  position: relative;
  top: 650px;
  display: inline-flex;
  text-align: justify;
}
.secure img {
  position: relative;
  width: 450px;
  height: 400px;
  object-fit: fill;
  left: 150px;
}
.secure h1 {
  position: relative;
  margin-left: 200px;
  top: 100px;
  font-family: emirates;
  color: limegreen;
}
.secure p {
  position: relative;
  top: 150px;
  right: 470px;
  min-width: 400px;
  font-family: emirates;
  line-height: 30px;
}
@media only screen and (width < 1000px) {
  .txt {
    margin-left: 50px;
  }
  .firstImg {
    margin-left: 600px;
    width: 350px;
    height: 350px;
  }
  .grid {
    display: grid;
    padding: 5rem;
    gap: 2rem;
    position: absolute;
    top: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 500px);
    position: relative;
    top: 400px;
    font-family: emirates;
  }

  .grid0 {
    border: 1px solid lightgrey;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px lightgray;
  }
  .grid0 img {
    position: relative;
    width: 400px;
    height: 300px;
    object-fit: fill;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .grid0 h2 {
    position: relative;
    top: 10px;
    left: 30px;
    font-family: emirates;
    color: limegreen;
  }
  .grid p {
    position: relative;
    top: 10px;
    left: 30px;
    font-size: 20px;
    line-height: 25px;
    font-family: emirates;
    max-width: 300px !important;
  }
  .grid h5 {
    position: relative;
    /* top: 10px; */
    left: 30px;
    font-family: emirates;
    color: orangered;
  }

  .debit {
    position: relative;
    top: 350px;
    display: inline-flex;
    text-align: justify;
  }
  .debit img {
    position: relative;
    border: 1px solid limegreen;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: fill;
    left: 50px;
  }
  .debit h1 {
    position: relative;
    margin-left: 100px;
    top: 50px;
    font-family: emirates;
    color: limegreen;
    max-width: 350px;
  }
  .diva {
    min-width: 675px !important;
  }
  .debit p {
    position: relative;
    top: 200px;
    right: 570px;
    min-width: 400px;
    font-family: emirates;
    line-height: 30px;
  }
  .counter {
    position: relative;
    top: 450px;
    display: inline-flex;
    text-align: justify;
  }
  .counter img {
    position: relative;
    border: 1px solid limegreen;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: fill;
    left: 50px;
  }
  .counter h1 {
    position: relative;
    margin-left: 100px;
    top: 50px;
    font-family: emirates;
    color: limegreen;
    max-width: 400px;
  }
  .counter p {
    position: relative;
    top: 200px;
    right: 570px;
    min-width: 400px;
    font-family: emirates;
    line-height: 30px;
  }
  .pension {
    position: relative;
    top: 550px;
    display: inline-flex;
    text-align: justify;
  }
  .pension img {
    position: relative;
    border: 1px solid limegreen;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: fill;
    left: 50px;
  }
  .pension h1 {
    position: relative;
    margin-left: 100px;
    top: 50px;
    font-family: emirates;
    color: limegreen;
    max-width: 350px;
  }
  .pension p {
    position: relative;
    top: 200px;
    right: 570px;
    min-width: 400px;
    font-family: emirates;
    line-height: 30px;
  }
  .secure {
    position: relative;
    top: 650px;
    display: inline-flex;
    text-align: justify;
  }
  .secure img {
    position: relative;
    width: 400px;
    height: 400px;
    object-fit: fill;
    left: 50px;
  }
  .secure h1 {
    position: relative;
    margin-left: 100px;
    top: 100px;
    font-family: emirates;
    color: limegreen;
    max-width: 350px;
  }
  .secure p {
    position: relative;
    top: 190px;
    right: 570px;
    min-width: 400px;
    font-family: emirates;
    line-height: 30px;
  }
}
@media only screen and (max-width: 600px) {
}
@media only screen and (width < 500px) {
  .txt {
    margin-left: 30px;
    top: 20px;
  }
  .firstImg {
    margin-left: 40px;
    width: 350px;
    height: 350px;
    top: 250px;
  }
  .grid {
    display: grid;
    padding: 3rem;
    gap: 2rem;
    position: absolute;
    top: 650px !important;
    grid-template-columns: repeat(1, 350px);
    grid-template-rows: repeat(1, 500px);
    position: relative;
    font-family: emirates;
  }

  .grid0 {
    border: 1px solid lightgrey;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px lightgray;
  }
  .grid0 img {
    position: relative;
    width: 350px;
    height: 300px;
    object-fit: fill;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .grid0 h2 {
    position: relative;
    top: 10px;
    left: 30px;
    font-family: emirates;
    color: limegreen;
  }
  .grid p {
    position: relative;
    top: 10px;
    left: 30px;
    font-size: 20px;
    line-height: 25px;
    font-family: emirates;
    max-width: 300px !important;
  }
  .grid h5 {
    position: relative;
    /* top: 10px; */
    left: 30px;
    font-family: emirates;
    color: orangered;
  }

  .debit {
    position: relative;
    top: 650px;
    display: block !important;
    text-align: justify;
  }
  .debit img {
    position: relative;
    border: 1px solid limegreen;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: fill;
    left: 40px;
    display: block !important;
  }
  .debit h1 {
    position: relative;
    margin-left: 40px;
    top: 20px;
    font-family: emirates;
    color: limegreen;
    max-width: 350px;
  }

  .debit p {
    position: relative;
    top: 20px;
    left: 40px;
    min-width: 400px;
    font-family: emirates;
    line-height: 30px;
    max-width: 350px !important;
    min-width: 150px;
  }
  .counter {
    position: relative;
    top: 700px;
    display: block;
    text-align: justify;
  }
  .counter img {
    position: relative;
    border: 1px solid limegreen;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: fill;
    left: 50px;
  }
  .counter h1 {
    position: relative;
    margin-left: 40px;
    top: 20px;
    font-family: emirates;
    color: limegreen;
    max-width: 340px;
  }
  .counter p {
    position: relative;
    top: 20px;
    left: 40px;
    min-width: 400px;
    font-family: emirates;
    line-height: 30px;
    max-width: 350px;
    min-width: 150px;
  }
  .pension {
    position: relative;
    top: 730px;
    display: block;
    text-align: justify;
  }
  .pension img {
    position: relative;
    border: 1px solid limegreen;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: fill;
    left: 50px;
  }
  .pension h1 {
    position: relative;
    margin-left: 40px;
    top: 20px;
    font-family: emirates;
    color: limegreen;
    max-width: 350px;
  }
  .pension p {
    position: relative;
    top: 20px;
    left: 40px;
    font-family: emirates;
    line-height: 30px;
    max-width: 350px;
    min-width: 150px;
  }
  .secure {
    position: relative;
    top: 750px;
    display: block;
    text-align: justify;
  }
  .secure img {
    position: relative;
    width: 300px;
    height: 300px;
    object-fit: fill;
    left: 50px;
  }
  .secure h1 {
    position: relative;
    margin-left: 40px;
    top: 20px;
    font-family: emirates;
    color: limegreen;
    max-width: 350px;
  }
  .secure p {
    position: relative;
    top: 20px;
    left: 40px;
    font-family: emirates;
    line-height: 30px;
    max-width: 350px;
    min-width: 150px;
  }
  .foot {
    top: 800px !important;
  }
}
.backg {
  background-color: rgb(33, 37, 41);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.97),
    rgba(236, 234, 234, 0.97)
  );
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: fill;
}
.reg {
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  color: rgb(33, 37, 41);
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.97),
    rgba(236, 234, 234, 0.97)
  );
  border: 2px rgba(236, 234, 234, 0.97) solid !important;
  box-shadow: rgb(184, 184, 184) 6px 6px 23px 6px !important;
}
@media only screen and (width < 500px) {
  .conbox {
    width: 300px !important;
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.bdl {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid green;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0%;
}

@font-face {
  font-family: emirates;
  src: url(./multimedia/Emirates-Bold.ttf);
}
.foot {
  position: relative;
  top: 700px;
}
.era {
  /* background: linear-gradient(
      rgba(176, 245, 179, 0.8),
      rgba(155, 241, 128, 0.5),
      rgba(109, 240, 97, 0.2)
    ),
    url(""); */
  background-size: auto;
  background-repeat: no-repeat;
  object-fit: fill;
  font-family: emirates;
}
@font-face {
  font-family: emirates;
  src: url(./multimedia/Emirates-Bold.ttf);
}
.newevent {
  font-family: emirates;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
  background-image: url("../src/multimedia/video-for-event-marketing.jpg");
}
.newevent h1 {
  margin-top: 50px;
  margin-left: 400px;
  white-space: nowrap;
  animation: create 10s linear 2s infinite;
}
@keyframes create {
  0% {
    transform: translateX(400px); /* Start from the right */
  }
  25% {
    transform: translateX(-350px); /* Stay in the center for 3s */
  }
  50% {
    transform: translateX(-350px); /* Stay in the center */
  }
  100% {
    transform: translateX(-800px); /* Disappear to the left */
  }
}
.newevent p {
  max-width: 300px;
  animation-name: create2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  animation-timing-function: linear;
}
@keyframes create2 {
  0% {
    transform: none;
  }
  25% {
    transform: skewX(180deg);
  }
  40% {
    transform: none;
  }
  50% {
    transform: none;
  }
  70% {
    transform: none;
  }
  90% {
    transform: none;
  }
  100% {
    animation-play-state: paused !important;
  }
}
.addcounter {
  height: 300px;
  background-image: url("../src/multimedia/ushers.jpg");
  object-fit: fill;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  font-family: emirates;
}
.addcounter h1 {
  margin-top: 70px;
  margin-left: 400px;
  white-space: nowrap;
  animation: create 10s linear 2s infinite;
}
.addcounter p {
  max-width: 300px;
  animation-name: create2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  animation-timing-function: linear;
}
.myevents {
  height: 310px;
  background-image: url("../src/multimedia/event33.jpg");
  object-fit: fill;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  font-family: emirates;
}
.myevents h1 {
  margin-top: 70px;
  margin-left: 400px;
  white-space: nowrap;
  animation: create 10s linear 2s infinite;
}
.myevents p {
  max-width: 300px;
  animation-name: create2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  animation-timing-function: linear;
}
.adminbod {
  background-color: rgb(22, 158, 22);
  width: 100%;
  height: 700px;
}

.create-two {
  background: lightgreen;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 1000px;
  height: 910px;
  overflow-y: scroll;
}
.num {
  position: absolute;
  color: green;
  margin-top: 14px;
  margin-left: 20px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  padding: 7px;
  align-items: center;
  align-self: center;
  justify-self: center;
  /* text-align: center; */
}
.num p {
  position: relative;
  margin-top: -6px;
}
